<nav class="">
    <div class="max-w-6xl py-8 m-auto flex justify-between">
        <div>
            <p class="uppercase">Maison Sampler</p>

        </div>
        <div>
            <ul class="text-base font-bold inline-flex gap-16 uppercase text-black">
                <li><a href="">whats'on</a></li>
                <li><a href="">Artists</a></li>
                <li><a href="">Works</a></li>
                <li><a href="">ADN</a></li>
    
            </ul>
        </div>
       
    </div>

</nav>